.body {
    font-family: 'DM Sans', Georgia, 'Times New Roman', serif;
    overflow-x: hidden;
}

.main_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow-x: hidden;
    height: 100vh;
}

.left-grid, .right-grid {
  display: flex;
  overflow-x: hidden;
}

.left-grid {
    background-color: #F4E6FF;
    display: grid;
    grid-template-rows: 1fr 10fr 1fr;
    overflow-x: hidden;
}

.right-grid img {
  width: 100%; 
  height: 100%;
  object-fit: cover;
  display: block;
  max-width: 100%
}

.top-bar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left: 10px;
}


.WingsLogo {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 10px;
    padding-left: 15px;
    padding-top: 15px;
}
.WingsText {
    padding: 0;
    font-size: 175%;
    margin-top:10px;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.LoginSignUp {
    display: grid;
    font-family: 'DM Sans', Georgia, 'Times New Roman', serif;
    background-color: #F4E6FF;
    border: none;
    font-size: 1.25rem;
    font-weight: bold;
    text-decoration: underline;
    padding-top: 35px;
    margin-right: 40px;
    color: #6B095B;
    cursor: pointer;
}

.main-text-wrapper {
    display: flex;
    flex-direction: column;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-content: center;
    height: 100%;
    width:100%;
    align-items: flex-start;
}

.main-text{
    font-weight: bold;
    font-size: 2rem;
    text-align: left;
    align-items: center;
    justify-content: center;
    padding-left: 30px;
    margin-bottom: 15px;

}

.bottom-text-wrapper {
    display: flex;
    align-items: center;
    text-align: left;
}

.bottom-text {
    margin-top:0px;
    font-size: 1.5rem;
     padding-left: 30px;
}

.explore-button-wrapper {
    display: flex;
    padding: 30px;
    padding-left: 40px;
    justify-content: space-between;
}


.bolded-wings {
    font-weight: bold;
    color: #6B095B;
}

.typewriter {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid #6B095B;
  font-size: 1.5rem;
  padding-left: 30px;
  animation: typing 3s steps(40, end) forwards, blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from { max-width: 0 }
  to { max-width: 40ch; }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #6B095B }
}

.explore-text {
    padding-top:1rem;
    font-size: 1rem;
}

.heart-home {
  height: 20px;
  vertical-align: middle;
  margin-left: 4px;
  margin-bottom: 6px;
}
